.time,
.day {
  font-family: "Audiowide", cursive;
  color: rgba(71, 71, 139, 0.664);
  display: flex;
  justify-content: center;
  background-color: rgba(225, 225, 245, 0.664);
}
.time {
  font-size: 100px;
}
.day {
  font-size: 30px;
  margin-top: 70px;
}
